@using FootballArenas.Data.Models.CustomModels
@model FootballArenas.Web.ViewModels.SportComplexViewModels.SportComplexInputViewModel

@{
    this.ViewData["Title"] = "edit sport complex";

}
<form asp-controller="SportComplex" asp-action="EditSportComplex" enctype="multipart/form-data">
    <div class="form-group" asp-validation-summary="All"></div>
    
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <input asp-for="Id" type="hidden" />

    <div class="form-group">
        <label asp-for="AddressCity"></label>
        <input asp-for="AddressCity" class="form-control">
        <span asp-validation-for="AddressCity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AddressNumberOfStreet"></label>
        <input asp-for="AddressNumberOfStreet" class="form-control">
        <span asp-validation-for="AddressNumberOfStreet" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AddressStreet"></label>
        <input asp-for="AddressStreet" class="form-control">
        <span asp-validation-for="AddressStreet" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" />
    </div>
</form>